<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2  bg-dark">
            <app-p-sidebar></app-p-sidebar>
         </div>
        <div class="col col-auto col-md-9 col-xl-10 rowModify">
                <app-header></app-header>
       
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                  </div>

                
        </div>
    </div>
</div>